extends ../template

block variables
    - var title = 'Карта'
    - var contactForm = true

block content
    main.login
        .login-left
            h1.login-left__h Навигация по верески
            .login-left__img
                svg(width="530", height="430")
                    use(xlink:href="./assets/images/sprite.svg#icon-login")
        .login-right
            ul.map-list
                li
                    a(href="logIn.html") Вход по номеру телефона
                li
                    a(href="regist-1.html") Регистрация 1
                li
                    a(href="regist-2.html") Регистрация 2
                li
                    a(href="regist-3.html") Регистрация 3
                li
                    a(href="index.html") Обращения
                li
                    a(href="request.html") Заявки на работы
                li
                    a(href="request-pay.html") Заказ платных услуг УК
                li
                    a(href="pay-doc.html") Платежные документы
                li
                    a(href="give-evidence.html") Подать показания
                li
                    a(href="profile.html") Профиль собственника
                li
                    a(href="marker.html") Маркетплейс
                li
                    a(href="marker-item.html") Ремонт компьютеров
                li
                    a(href="marker-velo.html") Прокат велосипедов

