extends ../template

block variables
    - var title = 'Регистрация. Шаг 1'
    - var contactForm = true

block content
    main.login
        .login-left
            h1.login-left__h Личный кабинет коммунальных услуг
            .login-left__img
                svg(width="530", height="430")
                    use(xlink:href="./assets/images/sprite.svg#icon-login")
        .login-right
            .login-right__regist-h
                h2.login-right__h Регистрация
                span.login-right__regist-step Шаг 1

            form.login-right__form
                label.input
                    input(type="tel", name="name")
                    span.input__placeholder Телефон
                    span.input__error Пожалуйста, заполните поле
                label.input
                    input(type="text", name="name")
                    span.input__placeholder ФИО
                    span.input__error Пожалуйста, заполните поле
                
                button(type="submit").button.login-right__form-button Далее
                
                .login-right__pers-data-wrap
                    label.control.control_checkbox
                        input(type="checkbox", name="name").control__input
                        span.control-text Согласие на обработку персональных данных
                    a(href="#").login-right__linc.login-right__linc_gray Политика обработки персональных данных
            
            
            .login-right__problem-wrap
                .login-right__problem Возникли проблемы с личным кабинетом?

                a(href="#").login-right__linc Напишите нам
