@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Bold"), local("PTRootUI-Bold"), url("../fonts/Ptrootuibold.woff2") format("woff2"), url("../fonts/Ptrootuibold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Medium"), local("PTRootUI-Medium"), url("../fonts/Ptrootuimedium.woff2") format("woff2"), url("../fonts/Ptrootuimedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

* {
  box-sizing: border-box;
  outline-offset: 4px; }
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  *::-webkit-scrollbar-thumb {
    background-color: #dcdfe1; }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #c2c6c9; }

body {
  font-family: "PT Root UI", sans-serif;
  font-weight: 500;
  line-height: 1.35;
  font-feature-settings: "pnum" on, "lnum" on, "salt" on;
  margin: 0;
  padding: 0;
  background-color: #f4f5f6;
  color: #232930;
  height: 100vh; }

.main {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 800px;
  display: grid;
  grid-template-columns: 260px 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 20px;
  padding: 40px 25px 30px 25px;
  margin: 0 auto; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  min-height: 50px;
  min-width: 178px;
  font-family: "PT Root UI", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border: 1px solid #f4691b;
  background-color: #f4691b;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: 200ms ease-in-out 0ms;
  transition-property: background-color, border-color; }
  .button:hover {
    background-color: #ff8635;
    border-color: #ff8635; }

.button__ghost {
  background-color: #ffffff;
  border-color: #dcdfe1;
  color: #232930; }
  .button__ghost:hover {
    background-color: #f4f5f6;
    border-color: #dcdfe1; }

.button_smol {
  font-weight: 500;
  font-size: 14px;
  min-height: 28px;
  min-width: auto;
  padding: 0 12px; }

.button:disabled {
  cursor: default;
  background-color: #ebedee;
  border-color: #ebedee;
  color: #969ba0; }

.burger {
  position: relative;
  align-self: center;
  display: inline-block; }
  .burger.active > .burger__button {
    background-color: #c4c4c4; }
    .burger.active > .burger__button::after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      z-index: -1;
      cursor: auto; }
  .burger.active .burger__list {
    visibility: visible;
    opacity: 1; }

.burger__button {
  width: 35px;
  height: 35px;
  position: relative;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 35px;
  cursor: pointer;
  transition: 200ms ease-in-out 0ms;
  transition-property: background-color;
  z-index: 2; }
  .burger__button:hover {
    background-color: #dcdfe1; }

.burger__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.burger__list {
  position: absolute;
  top: 100%;
  right: 50%;
  background-color: #ffffff;
  padding: 18px;
  margin: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 250ms ease-in-out 0ms;
  transition-property: opacity, visibility;
  cursor: auto; }

.burger__list-linc {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 8px;
  align-items: center;
  color: #232930;
  text-decoration: none;
  justify-content: start; }
  .burger__list-linc span {
    white-space: nowrap; }

.switch {
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 8px;
  justify-content: start;
  align-items: center;
  cursor: pointer; }
  .switch.active .switch__control::before {
    background: #f4691b;
    transform: translateX(100%); }
  .switch input {
    display: none; }

.switch__control {
  width: 34px;
  height: 20px;
  background-color: #ebedee;
  box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 3px; }
  .switch__control::before {
    content: "";
    display: block;
    background-color: #68717b;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    width: 14px;
    height: 14px;
    border-radius: 14px;
    transition: 200ms ease-in-out 0ms;
    transform-origin: background-color, transform; }

.input {
  position: relative;
  display: inline-block; }
  .input .input__placeholder {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 12px;
    color: #232930;
    transition: 200ms ease-in-out 0ms;
    transition-property: font-size, color, transform, top;
    pointer-events: none; }
  .input input,
  .input textarea,
  .input select,
  .input .input__file {
    box-sizing: border-box;
    min-width: 230px;
    height: 48px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px 3px 0 0;
    border: none;
    border-bottom: 1px solid #cfd0d1;
    font-family: "PT Root UI", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232930;
    padding: 18px 12px 6px 12px;
    transition: background-color 200ms ease-in-out 0ms, border-color 200ms ease-in 0ms; }
    .input input:hover,
    .input textarea:hover,
    .input select:hover,
    .input .input__file:hover {
      background-color: #ebedee;
      border-color: #c4c4c4; }
    .input input:focus,
    .input textarea:focus,
    .input select:focus,
    .input .input__file:focus {
      outline: none;
      border-bottom: 2px solid #f4691b;
      padding-bottom: 5px; }
  .input select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23232930'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 10px; }
  .input .select-none {
    display: none; }
  .input input[type="file"] {
    visibility: hidden;
    position: absolute; }
  .input textarea {
    min-height: 96px;
    height: auto;
    max-height: 192px;
    resize: vertical; }
    .input textarea ~ .input__placeholder {
      top: 24px; }
  .input .input__error {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #d20a30; }
  .input.active .input__placeholder,
  .input input:focus ~ .input__placeholder,
  .input textarea:focus ~ .input__placeholder,
  .input.input_date > .input__placeholder {
    top: 6px;
    transform: translateY(0);
    font-size: 12px;
    color: #68717b; }
  .input.error input,
  .input.error textarea {
    color: #d20a30;
    padding-bottom: 5px;
    border-bottom: 2px solid #d20a30; }
    .input.error input:focus ~ .input__placeholder,
    .input.error textarea:focus ~ .input__placeholder {
      color: #d20a30; }
  .input.error .input__placeholder {
    color: #d20a30; }
  .input.error .input__error {
    display: block; }

.control {
  display: flex;
  align-items: center;
  cursor: pointer; }

.control__input {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.control_checkbox .control__input {
  position: relative;
  flex-shrink: 0; }
  .control_checkbox .control__input::before, .control_checkbox .control__input::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 100ms ease-in-out 0ms;
    cursor: pointer; }
  .control_checkbox .control__input::before {
    background-color: #ebedee;
    box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    transition-property: background-color;
    z-index: 1; }
  .control_checkbox .control__input::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 9.5L8 13L16 5' stroke='%23ffffff' stroke-width='2'/%3E%3C/svg%3E");
    background-size: 20px;
    background-color: transparent;
    opacity: 0;
    transition-property: opacity;
    z-index: 2; }
  .control_checkbox .control__input:checked::before {
    background-color: #f4691b; }
  .control_checkbox .control__input:checked::after {
    opacity: 1; }

.map-list {
  color: #f4691b;
  font-size: 18px;
  display: grid;
  grid-row-gap: 6px; }
  .map-list a {
    color: #f4691b; }

.menu-primary {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-right: 4px; }

.menu-primary__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none; }

.menu-primary__linc {
  display: flex;
  align-items: center;
  min-height: 70px;
  width: 100%;
  margin: 0;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #ebedee;
  background-color: #ffffff;
  font-family: "PT Root UI", sans-serif;
  color: #232930;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  font-feature-settings: "pnum" on, "lnum" on, "salt" on;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms ease-in-out 0ms;
  transition-property: background-color, border-color, color; }
  .menu-primary__linc:hover {
    border-color: #ebedee;
    background-color: #ebedee;
    text-decoration: none; }
  .menu-primary__linc:active {
    border-color: #ebedee;
    background-color: #dcdfe1; }
  .menu-primary__linc:focus-visible {
    border-color: #969ba0;
    outline: none; }

.menu-primary__linc_control {
  position: relative;
  padding: 12px 24px 12px 30px; }
  .menu-primary__linc_control svg {
    --icon-color: #232930;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 200ms ease-in-out 0ms; }

.menu-primary__linc.active {
  background-color: #f4691b;
  border-color: #f4691b;
  color: #ffffff; }
  .menu-primary__linc.active svg {
    --icon-color: #ffffff;
    transform: translateY(-50%) rotate(0); }
  .menu-primary__linc.active:hover {
    background-color: #ff8635;
    border-color: #ff8635; }
  .menu-primary__linc.active.focus-visible {
    border-color: #232930; }

.menu-primary__drop-list-wrap {
  transition: all 300ms ease-in-out 0ms;
  overflow: hidden;
  visibility: hidden; }

.menu-primary__drop-list-wrap.active {
  visibility: visible; }

.menu-primary__drop-list {
  margin: 0;
  padding: 20px 0 10px 25px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px; }

.menu-primary__drop-linc {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #232930; }
  .menu-primary__drop-linc:hover {
    color: #68717b; }

.menu-primary__drop-linc.active {
  color: #f4691b; }
  .menu-primary__drop-linc.active:hover {
    color: #ff8635; }

.menu-primery--mobile {
  display: none; }

@media screen and (max-width: 768px) {
  .menu-primary {
    display: none; }
  .menu-primery--mobile {
    position: relative;
    display: block;
    z-index: 13; }
    .menu-primery--mobile .menu-primary__linc {
      min-height: 50px; }
    .menu-primery--mobile .menu-primary__linc.active {
      border-radius: 4px 4px 0px 0px; }
    .menu-primery--mobile .menu-primary__drop-list-wrap {
      position: absolute;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 0px 0px 4px 4px; }
    .menu-primery--mobile .menu-primary__drop-list {
      grid-template-columns: 100%;
      row-gap: 0;
      padding: 0; }
    .menu-primery--mobile .menu-primary__drop-linc {
      display: block;
      padding: 10px 16px;
      border-bottom: 1px solid #ebedee; }
  .menu-primary__drop-linc {
    font-size: 16px;
    line-height: 20px; } }

.menu-secondary {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  overflow-y: auto;
  padding-right: 4px;
  z-index: 10; }

.menu-secondary__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0;
  margin: 5px 0;
  padding: 0;
  list-style: none; }

.menu-secondary__linc {
  padding: 15px 5px 15px 18px;
  position: relative;
  cursor: pointer; }
  .menu-secondary__linc::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
    background-color: #f4691b;
    opacity: 0;
    transition: opacity 200ms ease-in-out 0ms; }
  .menu-secondary__linc:hover::before {
    opacity: 0.15; }

.menu-secondary__linc.active::before {
  opacity: 1; }

.menu-secondary__linc.active:hover::before {
  opacity: 0.8; }

.request-linc {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px; }

.request-linc__name {
  font-size: 16px;
  line-height: 20px;
  color: #232930; }

.request-linc__date-time,
.request-linc__status {
  font-size: 14px;
  line-height: 18px;
  color: #68717b; }

.request-linc__date-time {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 14px;
  justify-content: start; }

.request-linc__status {
  display: flex;
  align-items: center; }
  .request-linc__status > svg {
    margin-right: 8px; }

.request-linc.active .request-linc__name {
  color: #f4691b; }

.pay-doc-linc {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px; }
  .pay-doc-linc > .button {
    justify-self: start; }
  .pay-doc-linc.active .pay-doc-linc__ls {
    color: #f4691b; }

.pay-doc-linc__ls {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px; }

.pay-doc-linc__text {
  font-size: 14px;
  line-height: 18px;
  color: #68717b; }

.pay-doc-linc__pay {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #f4691b; }

.profile-linc {
  display: block; }

.profile-linc__h {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px; }

.profile-linc__text {
  font-size: 14px;
  line-height: 18px;
  color: #68717b; }

.menu-secondary__btn {
  display: none; }

@media screen and (max-width: 960px) {
  .menu-secondary {
    position: relative;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    overflow-y: inherit;
    z-index: 11;
    padding-right: 0; }
  .menu-secondary__btn {
    position: relative;
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ebedee;
    padding: 9px 10px 11px;
    color: #ff8635; }
    .menu-secondary__btn svg {
      --icon-color: #232930;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%) rotate(180deg);
      transition: transform 200ms ease-in-out 0ms;
      margin-left: 18px; }
    .menu-secondary__btn.active svg {
      transform: translateY(-50%) rotate(0); }
  .menu-secondary__list {
    position: absolute;
    left: 0;
    right: 0;
    transition: all 300ms ease-in-out 0ms;
    overflow: hidden;
    visibility: hidden;
    background-color: #ffffff;
    margin: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); }
    .menu-secondary__list.active {
      visibility: visible; } }

@media screen and (max-width: 768px) {
  .menu-secondary {
    grid-column: auto;
    grid-row: auto;
    padding-right: 0; } }

.login {
  display: grid;
  grid-template-columns: 1fr minmax(420px, 1fr);
  height: 100%;
  background-color: #ffffff; }

.login-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #dcdfe1; }

.login-left__h {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.25;
  color: #f4691b;
  margin: 90px 60px 65px 60px; }

.login-left__img {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: auto; }
  .login-left__img svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }

.login-right {
  padding: 60px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; }

.login-right__h {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 18px; }

.login-right__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 0; }
  .login-right__text:last-child {
    margin-bottom: 0; }
  .login-right__text:first-child {
    margin-top: 0; }

.login-right__form {
  margin: 38px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 28px;
  width: 100%;
  max-width: 450px; }

.login-right__form-button {
  margin-top: 6px; }

.login-right__info-linc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 450px; }

.login-right__linc {
  font-size: 16px;
  line-height: 1.5;
  color: #f4691b; }

.login-right__linc_gray {
  color: #68717b; }

.login-right__problem-wrap {
  margin-top: auto;
  display: grid;
  grid-row-gap: 10px; }

.login-right__problem {
  position: relative;
  padding-left: 30px;
  display: inline-block;
  line-height: 24px; }
  .login-right__problem::before {
    display: block;
    content: "?";
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #f4691b; }
  .login-right__problem > a {
    margin-left: 20px; }

.login-right__regist-h {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap; }
  .login-right__regist-h > * {
    margin-bottom: 0; }

.login-right__regist-step {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #68717b;
  margin-left: 20px; }

.login-right__pers-data-wrap {
  display: grid;
  grid-row-gap: 12px; }

.login-right__form-text {
  font-size: 16px;
  line-height: 1.5;
  color: #68717b; }

.login-right__form-button-wrap {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px; }

@media screen and (max-width: 860px) {
  .login {
    grid-template-columns: 1fr; }
  .login-left {
    display: none; } }

@media screen and (max-width: 470px) {
  .login-right {
    padding: 16px; } }

.content-wrap {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  overflow-y: auto;
  padding-right: 4px; }

.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 10px;
  align-content: stretch;
  height: 100%; }

.chat-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: #ffffff;
  border: 1px solid #ebedee;
  padding: 10px 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: 18px; }

.chat-header__text {
  justify-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px; }

.chat-header__name {
  font-size: 16px;
  line-height: 20px; }

.chat-header__date-status-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -4px -10px; }
  .chat-header__date-status-wrap > * {
    margin: 4px 10px; }

.chat-header__date-time,
.chat-header__status {
  font-size: 14px;
  line-height: 18px;
  color: #68717b; }

.chat-header__date-time {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 14px;
  justify-content: start; }

.chat-header__status {
  display: flex;
  align-items: center; }
  .chat-header__status > svg {
    margin-right: 8px; }

.chat-header__contact {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -4px -10px; }
  .chat-header__contact > * {
    margin: 4px 10px; }

.chat-header__contact-text {
  font-size: 14px;
  line-height: 18px; }

.chat-header__contact-linc {
  color: #68717b;
  text-decoration: none; }

a.chat-header__contact-linc:hover {
  text-decoration: underline; }

.chat-body {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  position: relative;
  overflow-y: auto;
  min-height: 200px; }

.chat-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-right: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px; }

.chat-message__date {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin: 5px 0; }

.chat-message__autor {
  font-size: 14px;
  margin-bottom: 6px;
  color: #68717b; }

.chat-message__message {
  padding: 12px 18px;
  border-radius: 4px;
  width: 80%; }

.chat-message__text {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px; }
  .chat-message__text p {
    margin: 0; }
  .chat-message__text a {
    color: #232930; }

.chat-message__time {
  font-size: 12px;
  line-height: 15px;
  color: #68717b; }

.chat-message__message_admin {
  justify-self: left;
  background-color: #dcdfe1; }

.chat-message__message_user {
  justify-self: right;
  background-color: #ebedee; }

.chat-footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  grid-column-gap: 20px; }

.chat-footer__input-wrpa {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  display: flex;
  align-items: stretch;
  height: 100%; }
  .chat-footer__input-wrpa._focus {
    border-color: #dcdfe1; }

.chat-footer__input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 5px 0 10px;
  cursor: pointer; }
  .chat-footer__input-file input {
    display: none; }

.chat-footer__input-text {
  width: 100%;
  overflow-y: scroll;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 5px; }
  .chat-footer__input-text > textarea {
    font-family: "PT Root UI", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232930;
    border: none;
    background: transparent;
    resize: none;
    overflow: visible;
    border: none;
    padding: 0;
    width: 100%;
    height: 24px; }
    .chat-footer__input-text > textarea:focus {
      outline: none; }

.doc-conteiner {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%; }

.doc-conteiner__body {
  overflow-y: auto; }

.doc-conteiner__head {
  border-bottom: 1px solid #cfd0d1;
  margin-bottom: 26px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 58px;
  justify-content: start; }

.doc-conteiner__head-button {
  font-family: "PT Root UI", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232930;
  background-color: transparent;
  border-radius: 0;
  margin: 0 0 -1px 0;
  padding: 0 0 8px 0;
  border: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 150ms ease-in-out 0ms;
  transition-property: color, border-color; }
  .doc-conteiner__head-button:hover {
    border-color: #969ba0; }
  .doc-conteiner__head-button.active {
    color: #f4691b;
    border-color: #f4691b; }

.content-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em; }
  .content-table tr {
    border-bottom: 1px solid #ebedee; }
  .content-table td {
    padding: 16px 25px; }
  .content-table .burger_td {
    padding: 2px 25px; }

.content-table__head {
  background-color: #ffffff; }
  .content-table__head th {
    color: #68717b;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: left;
    padding: 16px 25px; }

.burger_td {
  text-align: right; }

.edit-area {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: #68717b;
  text-align: right;
  margin-left: auto; }
  .edit-area svg {
    margin-right: 10px; }
  .edit-area.active {
    display: none; }

.edit-area__input {
  display: none;
  margin: -10px 0 -10px -12px; }
  .edit-area__input.active {
    display: block; }
  .edit-area__input .input input {
    min-width: auto; }

.edit-area__input-value-wrap {
  margin: -10px 0;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .edit-area__input-value-wrap.active {
    display: none; }

.edit-area__input-value-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #68717b; }

.edit-area__input-value {
  font-size: 16px;
  line-height: 24px; }

.edit-area__button-wrap {
  display: none;
  grid-auto-flow: column;
  grid-column-gap: 10px; }
  .edit-area__button-wrap.active {
    display: grid; }

.give-evidence-linc {
  display: block; }
  .give-evidence-linc.active .give-evidence-linc__h {
    color: #f4691b; }

.give-evidence-linc__h {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px; }

.give-evidence-linc__text {
  font-size: 14px;
  line-height: 18px;
  color: #68717b; }

.give-evidence__head {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: stretch;
  margin-bottom: 16px; }
  .give-evidence__head .button {
    align-self: end;
    justify-self: end; }

.give-evidence__head-h {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 4px; }

.give-evidence__head-text {
  font-size: 14px;
  line-height: 18px;
  color: #68717b; }

.profile-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 28px;
  position: relative; }

.profile-content__head {
  min-height: 72px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ebedee;
  border-radius: 4px;
  margin: 0;
  padding: 10px 20px;
  font-family: "PT Root UI", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: background-color 200ms ease-in-out 0ms;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .profile-content__head:hover {
    background-color: #ebedee; }
  .profile-content__head svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%) rotate(180deg);
    --icon-color: #f4691b;
    transition: transform 200ms ease-in-out 0ms; }
  .profile-content__head.active svg {
    transform: translateY(-50%) rotate(0); }

.profile-content__content {
  overflow: hidden;
  transition: height 300ms ease-in-out 0ms;
  box-sizing: border-box;
  padding-left: 9px; }
  .profile-content__content > *:first-child {
    margin-top: 18px; }

.profile-content__h {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 26px 0 18px 0; }
  .profile-content__h:first-child {
    margin-top: 0; }

.profile-content__input-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 28px;
  margin-bottom: 18px; }

.market-content__wrap {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  overflow-y: auto;
  padding-right: 4px; }

.market-content__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: start;
  grid-column-gap: 38px;
  grid-row-gap: 48px; }

.market-content__iten {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #232930;
  text-decoration: none; }
  .market-content__iten:hover {
    color: #f4691b; }

.market-content__iten-img {
  border-radius: 4px;
  margin-bottom: 6px;
  -o-object-fit: cover;
     object-fit: cover; }

.market-content h1,
.market-content h2,
.market-content h3,
.market-content p,
.market-content ul {
  margin: 18px 0; }

.market-content ul {
  padding-left: 20px; }

.market-content .button {
  margin-top: 28px; }

.market-content ._smol {
  margin: 10px 0 0 0; }

.market-content p._smol {
  font-size: 14px;
  line-height: 24px; }

.market-content > *:first-child {
  margin-top: 0; }

.market-content > *:last-child {
  margin-bottom: 0; }

.market-link-back {
  font-size: 16px;
  line-height: 24px;
  color: #f4691b;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-column-gap: 4px; }
  .market-link-back > svg {
    transform: rotate(-90deg);
    --icon-color: #f4691b; }

@media screen and (max-width: 1050px) {
  .give-evidence__head {
    grid-auto-flow: row;
    row-gap: 15px;
    margin-bottom: 24px; }
  .give-evidence__head .button {
    min-height: 28px;
    justify-self: flex-start; }
  .give-evidence__head-h {
    margin-top: 0; } }

@media screen and (max-width: 1000px) {
  .chat-footer__button {
    min-width: 100px;
    padding: 6px 11px; } }

@media screen and (max-width: 960px) {
  .content-wrap {
    grid-column: 2 / -1;
    grid-row: 3 / -1; } }

@media screen and (max-width: 768px) {
  .chat-header {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 10px 12px; }
  .chat-header__date-time {
    -moz-column-gap: 10px;
         column-gap: 10px; }
  .chat-header__status {
    margin: 0; }
  .chat-header__date-status-wrap {
    flex-wrap: nowrap; }
  .content-wrap {
    grid-column: auto;
    grid-row: auto;
    margin-right: -5px; }
  .chat-footer__input-file svg {
    width: 15px;
    height: 14px; }
  .chat-footer__input-text {
    height: 40px;
    margin: 0;
    margin-right: -20px; }
  .content-table th {
    padding: 16px 10px; }
  .content-table td {
    padding: 16px 8px; }
  .profile-content__head {
    min-height: 45px;
    font-size: 18px;
    line-height: 23px;
    padding: 11px 10px; }
    .profile-content__head svg {
      right: 10px; }
    .profile-content__head span:first-of-type {
      display: none; }
  .profile-content {
    row-gap: 20px; }
  .profile-content__input-wrap {
    row-gap: 20px; }
  .profile-content__content {
    padding-left: 0; }
  .market-content__wrap {
    grid-column: auto;
    grid-row: auto;
    margin-right: -10px; }
  .market-content {
    font-size: 14px;
    line-height: 17px; }
  .market-content__list {
    grid-template-columns: repeat(auto-fit, 90px);
    -moz-column-gap: 9px;
         column-gap: 9px;
    row-gap: 30px; }
  .market-content__iten {
    font-size: 14px;
    line-height: 18px; }
  .market-content__iten-img {
    width: 90px;
    height: 90px; }
  .market-content__img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .chat-footer {
    -moz-column-gap: 5px;
         column-gap: 5px; } }

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2; }

.header__top {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px; }

.header__h {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin: 0; }

.header__ls {
  position: relative; }
  .header__ls .menu-primary__linc_control {
    min-height: 48px;
    padding-right: 59px; }
  .header__ls .menu-primary__drop-list-wrap {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    z-index: 3; }

@media screen and (max-width: 960px) {
  .header__top {
    grid-auto-flow: row;
    row-gap: 15px;
    margin-bottom: 0; }
  .header__bot {
    margin-top: 30px; }
  .header__ls .menu-primary__linc_control {
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 10px 11px; } }

@media screen and (max-width: 768px) {
  .header {
    grid-column: auto;
    grid-row: auto; }
  .header__h {
    font-size: 24px;
    line-height: 30px; } }

.popups {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out 0ms;
  transition-property: visibility, opacity;
  z-index: 1000; }

.popups__container-wrap {
  height: 100%;
  width: 100%;
  max-width: 880px;
  background-color: #ffffff;
  position: relative;
  padding: 0 48px;
  flex-shrink: 0; }

.popups__close {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer; }
  .popups__close:hover svg {
    --icon-color: #969ba0; }

.popups__container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 38px 8px 38px 0; }

.popups__h {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 36px 0; }

.popups__inputs {
  width: 100%;
  max-width: 448px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 28px;
  justify-items: left; }
  .popups__inputs .input {
    width: 100%; }

.popups__close-area {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 47, 54, 0.8); }

.popups.active {
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 768px) {
  .popups__container-wrap {
    padding: 0 16px;
    z-index: 1001;
    margin-top: 20px;
    border-radius: 10px; }
  .popups__container {
    padding-right: 0; }
  .popups__h {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px; }
  .popups__inputs {
    row-gap: 20px; }
    .popups__inputs .button {
      width: 100%;
      font-size: 18px;
      line-height: 28px; }
  .popups__close-area {
    position: absolute;
    top: 0;
    z-index: 1000; } }

._hide {
  display: none; }

.color-Green {
  color: #99a30e; }

@media screen and (max-width: 960px) {
  .main {
    grid-template-rows: -webkit-max-content -webkit-max-content 1fr;
    grid-template-rows: max-content max-content 1fr;
    align-content: flex-start; } }

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 16px; }
  .button {
    min-height: 40px; }
  .button_smol {
    min-height: 28px; } }
