// Цвета
$color-Black: #232930;
$color-Grey5: #68717b;
$color-Grey4: #969ba0;
$color-Grey3: #dcdfe1;
$color-Grey2: #ebedee;
$color-Grey1: #f4f5f6;
$color-wheat: #ffffff;
$color-Orange: #f4691b;
$color-Orange2: #ff8635;
$color-Green: #99a30e;

// Шрифт
$font-family-root: "PT Root UI", sans-serif;

@import "./common/fonts.scss";

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

* {
	box-sizing: border-box;
	outline-offset: 4px;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #dcdfe1;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #c2c6c9;
	}
}

body {
	font-family: $font-family-root;
	font-weight: 500;
	line-height: 1.35;
	font-feature-settings: "pnum" on, "lnum" on, "salt" on;
	margin: 0;
	padding: 0;
	background-color: $color-Grey1;
	color: $color-Black;
	height: 100vh;
}

.main {
	width: 100%;
	max-width: 1400px;
	height: 100%;
	max-height: 800px;
	display: grid;
	grid-template-columns: 260px 300px 1fr;
	grid-template-rows: auto 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 20px;
	padding: 40px 25px 30px 25px;
	margin: 0 auto;
}

// button
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 25px;
	min-height: 50px;
	min-width: 178px;
	font-family: $font-family-root;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	border: 1px solid $color-Orange;
	background-color: $color-Orange;
	color: $color-wheat;
	cursor: pointer;
	border-radius: 4px;
	transition: 200ms ease-in-out 0ms;
	transition-property: background-color, border-color;

	&:hover {
		background-color: $color-Orange2;
		border-color: $color-Orange2;
	}
}

.button__ghost {
	background-color: $color-wheat;
	border-color: $color-Grey3;
	color: $color-Black;

	&:hover {
		background-color: $color-Grey1;
		border-color: $color-Grey3;
	}
}

.button_smol {
	font-weight: 500;
	font-size: 14px;
	min-height: 28px;
	min-width: auto;
	padding: 0 12px;
}

// burger
.burger {
	position: relative;
	align-self: center;
	display: inline-block;

	&.active {
		& > .burger__button {
			background-color: #c4c4c4;

			&::after {
				content: "";
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: transparent;
				z-index: -1;
				cursor: auto;
			}
		}

		.burger__list {
			visibility: visible;
			opacity: 1;
		}
	}
}

.burger__button {
	width: 35px;
	height: 35px;
	position: relative;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border-radius: 35px;
	cursor: pointer;
	transition: 200ms ease-in-out 0ms;
	transition-property: background-color;
	z-index: 2;

	&:hover {
		background-color: $color-Grey3;
	}
}

.burger__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.burger__list {
	position: absolute;
	top: 100%;
	right: 50%;
	background-color: $color-wheat;
	padding: 18px;
	margin: 0;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 12px;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: 250ms ease-in-out 0ms;
	transition-property: opacity, visibility;
	cursor: auto;
}

.burger__list-linc {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 8px;
	align-items: center;
	color: $color-Black;
	text-decoration: none;
	justify-content: start;

	span {
		white-space: nowrap;
	}
}

// switch
.switch {
	display: inline-grid;
	grid-auto-flow: column;
	grid-column-gap: 8px;
	justify-content: start;
	align-items: center;
	cursor: pointer;

	&.active .switch__control::before {
		background: #f4691b;
		transform: translateX(100%);
	}

	input {
		display: none;
	}
}

.switch__control {
	width: 34px;
	height: 20px;
	background-color: #ebedee;
	box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	padding: 3px;

	&::before {
		content: "";
		display: block;
		background-color: #68717b;
		border: 2px solid #ffffff;
		box-sizing: border-box;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
		width: 14px;
		height: 14px;
		border-radius: 14px;
		transition: 200ms ease-in-out 0ms;
		transform-origin: background-color, transform;
	}
}

// input
.input {
	position: relative;
	display: inline-block;

	.input__placeholder {
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 16px;
		line-height: 12px;
		color: $color-Black;
		transition: 200ms ease-in-out 0ms;
		transition-property: font-size, color, transform, top;
		pointer-events: none;
	}

	input,
	textarea,
	select,
	.input__file {
		box-sizing: border-box;
		min-width: 230px;
		height: 48px;
		width: 100%;
		// background-color: #f4f5f6;
		background-color: $color-wheat;
		border-radius: 3px 3px 0 0;
		border: none;
		border-bottom: 1px solid #cfd0d1;
		font-family: $font-family-root;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-Black;
		padding: 18px 12px 6px 12px;
		transition: background-color 200ms ease-in-out 0ms, border-color 200ms ease-in 0ms;

		&:hover {
			background-color: #ebedee;
			border-color: #c4c4c4;
		}

		&:focus {
			outline: none;
			border-bottom: 2px solid #f4691b;
			padding-bottom: 5px;
		}
	}

	select {
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23232930'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: calc(100% - 10px) center;
		background-size: 10px;
	}

	.select-none {
		display: none;
	}

	input[type="file"] {
		visibility: hidden;
		position: absolute;
	}

	textarea {
		min-height: 96px;
		height: auto;
		max-height: 96px * 2;
		resize: vertical;

		~ .input__placeholder {
			top: 24px;
		}
	}

	.input__error {
		display: none;
		position: absolute;
		top: calc(100% + 4px);
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		color: #d20a30;
	}

	&.active .input__placeholder,
	& input:focus ~ .input__placeholder,
	& textarea:focus ~ .input__placeholder {
		top: 6px;
		transform: translateY(0);
		font-size: 12px;
		color: #68717b;
	}

	&.error {
		input,
		textarea {
			color: #d20a30;
			padding-bottom: 5px;
			border-bottom: 2px solid #d20a30;

			&:focus ~ .input__placeholder {
				color: #d20a30;
			}
		}

		.input__placeholder {
			color: #d20a30;
		}

		.input__error {
			display: block;
		}
	}
}

@import "./common/menu-primary.scss";
@import "./common/menu-secondary.scss";
@import "./common/content.scss";
@import "./common/header.scss";
@import "./common/popups.scss";

@import "./pages/index.scss";

._hide {
	display: none;
}

.color-Green {
	color: $color-Green;
}
// @media screen and (max-width: 1274px) {

// }

@media screen and (max-width: 960px) {
	.main {
		grid-template-rows: max-content max-content 1fr;
		align-content: flex-start;
	}
}

@media screen and (max-width: 768px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		padding: 16px;
	}
	.button {
		min-height: 40px;
	}
	.button__ghost {
		background-color: transparent;
		padding-bottom: 8px;
	}
}
