// Цвета
$color-Black: #232930;
$color-Grey5: #68717b;
$color-Grey4: #969ba0;
$color-Grey3: #dcdfe1;
$color-Grey2: #ebedee;
$color-Grey1: #f4f5f6;
$color-wheat: #ffffff;
$color-Orange: #f4691b;
$color-Orange2: #ff8635;
$color-Green: #99a30e;

// Шрифт
$font-family-root: "PT Root UI", sans-serif;

@import "./common/fonts.scss";

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

* {
	box-sizing: border-box;
	outline-offset: 4px;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #dcdfe1;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #c2c6c9;
	}
}

body {
	font-family: $font-family-root;
	font-weight: 500;
	line-height: 1.35;
	font-feature-settings: "pnum" on, "lnum" on, "salt" on;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-Grey1;
	height: 100vh;
}

.main {
	width: 100%;
	max-width: 1400px;
	height: 100%;
	max-height: 800px;
	display: grid;
	grid-template-columns: 260px 300px 1fr;
	grid-template-rows: auto 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 20px;
	padding: 40px 25px 30px 25px;
}

// button
.button {
	display: inline-flex;
	align-items: center;
	padding: 5px 25px;
	min-height: 50px;
	font-family: $font-family-root;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid $color-Orange;
	background-color: $color-Orange;
	color: $color-wheat;
	cursor: pointer;
	border-radius: 4px;
	transition: 200ms ease-in-out 0ms;
	transition-property: background-color, border-color;

	&:hover {
		background-color: $color-Orange2;
		border-color: $color-Orange2;
	}
}

.button__ghost {
	background-color: $color-wheat;
	border-color: $color-Grey3;
	color: $color-Black;

	&:hover {
		background-color: $color-Grey1;
		border-color: $color-Grey3;
	}
}

// switch
.switch {
	display: inline-grid;
	grid-auto-flow: column;
	grid-column-gap: 8px;
	justify-content: start;
	align-items: center;
	cursor: pointer;

	&.active .switch__control::before {
		background: #f4691b;
		transform: translateX(100%);
	}

	input {
		display: none;
	}
}

.switch__control {
	width: 34px;
	height: 20px;
	background-color: #ebedee;
	box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	padding: 3px;

	&::before {
		content: "";
		display: block;
		background-color: #68717b;
		border: 2px solid #ffffff;
		box-sizing: border-box;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
		width: 14px;
		height: 14px;
		border-radius: 14px;
		transition: 200ms ease-in-out 0ms;
		transform-origin: background-color, transform;
	}
}

@import "./common/menu-primary.scss";
@import "./common/menu-secondary.scss";
@import "./common/content.scss";
@import "./common/header.scss";

@import "./pages/index.scss";

._hide {
	display: none;
}

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
