// Цвета
$color-Black: #232930;
$color-Grey5: #68717b;
$color-Grey4: #969ba0;
$color-Grey3: #dcdfe1;
$color-Grey2: #ebedee;
$color-Grey1: #f4f5f6;
$color-wheat: #ffffff;
$color-Orange: #f4691b;
$color-Orange2: #ff8635;
$color-Green: #99a30e;

// Шрифт
$font-family-root: "PT Root UI", sans-serif;

.content-wrap {
	grid-column: 3 / -1;
	grid-row: 2 / -1;
	overflow-y: auto;
	padding-right: 4px;
}

// chat
.chat {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 10px;
	align-content: stretch;
	height: 100%;
}

// chat-header
.chat-header {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	background-color: $color-wheat;
	border: 1px solid $color-Grey2;
	padding: 10px 18px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	grid-column-gap: 18px;
}

.chat-header__text {
	justify-self: stretch;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 4px;
}

.chat-header__name {
	font-size: 16px;
	line-height: 20px;
}

.chat-header__date-status-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin: -4px -10px;

	> * {
		margin: 4px 10px;
	}
}

.chat-header__date-time,
.chat-header__status {
	font-size: 14px;
	line-height: 18px;
	color: $color-Grey5;
}

.chat-header__date-time {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 14px;
	justify-content: start;
}

.chat-header__status {
	display: flex;
	align-items: center;

	> svg {
		margin-right: 8px;
	}
}

.chat-header__contact {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin: -4px -10px;

	> * {
		margin: 4px 10px;
	}
}

.chat-header__contact-text {
	font-size: 14px;
	line-height: 18px;
}

.chat-header__contact-linc {
	color: $color-Grey5;
	text-decoration: none;
}

a.chat-header__contact-linc:hover {
	text-decoration: underline;
}

// chat-body
.chat-body {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	position: relative;
	overflow-y: auto;
	min-height: 200px;
}

.chat-message {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-right: 8px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.chat-message__date {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0;
}

.chat-message__message {
	padding: 12px 18px;
	border-radius: 4px;
	width: 80%;
}

.chat-message__text {
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;

	p {
		margin: 0;
	}
}

.chat-message__time {
	font-size: 12px;
	line-height: 15px;
	color: $color-Grey5;
}

.chat-message__message_admin {
	justify-self: left;
	background-color: #dcdfe1;
}

.chat-message__message_user {
	justify-self: right;
	background-color: $color-Grey2;
}

// chat-footer
.chat-footer {
	grid-column: 1 / -1;
	grid-row: 3 / -1;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
}

.chat-footer__input-wrpa {
	background-color: $color-wheat;
	border: 1px solid $color-wheat;
	border-radius: 3px;
	display: flex;
	align-items: stretch;
	height: 100%;

	&._focus {
		border-color: $color-Grey3;
	}
}

.chat-footer__input-file {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 0 5px 0 10px;
	cursor: pointer;

	input {
		display: none;
	}
}

.chat-footer__input-text {
	width: 100%;
	overflow-y: scroll;
	height: 50px;
	display: flex;
	align-items: center;
	margin-left: 5px;

	> textarea {
		font-family: $font-family-root;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-Black;
		border: none;
		background: transparent;
		resize: none;
		overflow: visible;
		border: none;
		padding: 0;
		width: 100%;
		height: 24px;

		&:focus {
			outline: none;
		}
	}
}

// doc-conteiner
.doc-conteiner {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
}

.doc-conteiner__body {
	overflow-y: auto;
}

.doc-conteiner__head {
	border-bottom: 1px solid #cfd0d1;
	margin-bottom: 26px;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 58px;
	justify-content: start;
}

.doc-conteiner__head-button {
	font-family: $font-family-root;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: $color-Black;
	background-color: transparent;
	border-radius: 0;
	margin: 0 0 -1px 0;
	padding: 0 0 8px 0;
	border: 0;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	transition: 150ms ease-in-out 0ms;
	transition-property: color, border-color;

	&:hover {
		border-color: $color-Grey4;
	}

	&.active {
		color: $color-Orange;
		border-color: $color-Orange;
	}
}

.content-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.015em;

	tr {
		border-bottom: 1px solid $color-Grey2;
	}

	td {
		padding: 10px 25px;
	}
}

.content-table__head {
	background-color: $color-wheat;

	th {
		color: #68717b;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.9px;
		text-transform: uppercase;
		text-align: left;
		padding: 16px 25px;
	}
}

.burger_td {
	text-align: right;
}

// give-evidence
.give-evidence-linc {
	display: block;

	&.active {
		.give-evidence-linc__h {
			color: $color-Orange;
		}
	}
}

.give-evidence-linc__h {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}

.give-evidence-linc__text {
	font-size: 14px;
	line-height: 18px;
	color: #68717b;
}

.give-evidence__head {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	justify-content: stretch;
	margin-bottom: 16px;

	.button {
		align-self: end;
		justify-self: end;
	}
}

.give-evidence__head-h {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 4px;
}

.give-evidence__head-text {
	font-size: 14px;
	line-height: 18px;
	color: #68717b;
}

// profile-content
.profile-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 28px;
}

.profile-content__head {
	min-height: 72px;
	width: 100%;
	background-color: $color-wheat;
	box-sizing: border-box;
	border: 1px solid $color-Grey2;
	border-radius: 4px;
	margin: 0;
	padding: 10px 20px;
	font-family: $font-family-root;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-align: left;
	cursor: pointer;
	position: relative;
	transition: background-color 200ms ease-in-out 0ms;

	&:hover {
		background-color: $color-Grey2;
	}

	svg {
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%) rotate(180deg);
		--icon-color: #{$color-Orange};
		transition: transform 200ms ease-in-out 0ms;
	}

	&.active {
		svg {
			transform: translateY(-50%) rotate(0);
		}
	}
}

.profile-content__content {
	overflow: hidden;
	transition: height 300ms ease-in-out 0ms;
	box-sizing: border-box;
	padding-left: 9px;

	> *:first-child {
		margin-top: 18px;
	}
}

.profile-content__h {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 18px 0;
}

.profile-content__input-wrap {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 28px;
}

// market
.market-content__wrap {
	grid-column: 2 / -1;
	grid-row: 2 / -1;
	overflow-y: auto;
	padding-right: 4px;
}

.market-content__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	justify-content: start;
	grid-column-gap: 38px;
	grid-row-gap: 48px;
}

.market-content__iten {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: $color-Black;
	text-decoration: none;

	&:hover {
		color: $color-Orange;
	}
}

.market-content__iten-img {
	border-radius: 4px;
	margin-bottom: 6px;
}

.market-content {
	h1,
	h2,
	h3,
	p,
	ul {
		margin: 18px 0;
	}

	ul {
		padding-left: 20px;
	}

	.button {
		margin-top: 28px;
	}

	._smol {
		margin: 10px 0 0 0;
	}

	p._smol {
		font-size: 14px;
		line-height: 24px;
	}

	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.market-link-back {
	font-size: 16px;
	line-height: 24px;
	color: $color-Orange;
	text-decoration: none;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: start;
	grid-column-gap: 4px;

	> svg {
		transform: rotate(-90deg);
		--icon-color: #{$color-Orange};
	}
}

@media screen and (max-width: 1000px) {
	.chat-footer__button {
		min-width: 100px;
		padding: 6px 11px;
	}
}

@media screen and (max-width: 960px) {
	.content-wrap {
		grid-column: 2 / -1;
		grid-row: 3 / -1;
	}
}

@media screen and (max-width: 768px) {
	.chat-header {
		column-gap: 10px;
		padding: 10px 12px;
	}
	.chat-header__date-time {
		column-gap: 10px;
	}
	.chat-header__status {
		margin: 0;
	}
	.chat-header__date-status-wrap {
		flex-wrap: nowrap;
	}
	.content-wrap {
		grid-column: auto;
		grid-row: auto;
		margin-right: -5px;
	}
	.chat-footer__input-file {
		svg {
			width: 15px;
			height: 14px;
		}
	}
	.chat-footer__input-text {
		height: 40px;
		margin: 0;
		margin-right: -20px;
	}
	.content-table th {
		padding: 16px 10px;
	}
	.content-table td {
		padding: 16px 8px;
	}
	.give-evidence__head {
		grid-auto-flow: row;
		row-gap: 15px;
		margin-bottom: 24px;
	}
	.give-evidence__head .button {
		min-height: 28px;
		justify-self: flex-start;
	}
	.give-evidence__head-h {
		margin-top: 0;
	}
	.profile-content__head {
		min-height: 45px;
		font-size: 18px;
		line-height: 23px;
		padding: 11px 10px;

		svg {
			right: 10px;
		}
		span {
			&:first-of-type {
				display: none;
			}
		}
	}
	.profile-content__content {
		padding-left: 0;
	}
	.market-content__wrap {
		grid-column: auto;
		grid-row: auto;
		margin-right: -10px;
	}
	.market-content {
		font-size: 14px;
    	line-height: 17px;
	}
	.market-content__list {
		grid-template-columns: repeat(auto-fit, 90px);
		column-gap: 9px;
		row-gap: 30px;
	}
	.market-content__iten {
		font-size: 14px;
		line-height: 18px;
	}
	.market-content__iten-img {
		width: 90px;
		height: 90px;
	}
	.market-content__img {
		max-width: 100%;
		object-fit: cover;
	}
	.chat-footer {
		column-gap: 5px;
	}
}