// Цвета
$color-Black: #232930;
$color-Grey5: #68717b;
$color-Grey4: #969ba0;
$color-Grey3: #dcdfe1;
$color-Grey2: #ebedee;
$color-Grey1: #f4f5f6;
$color-wheat: #ffffff;
$color-Orange: #f4691b;
$color-Orange2: #ff8635;
$color-Green: #99a30e;

// Шрифт
$font-family-root: "PT Root UI", sans-serif;

.content-wrap {
	grid-column: 3 / -1;
	grid-row: 2 / -1;
	overflow-y: auto;
	padding-right: 4px;
}

// chat
.chat {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 10px;
	align-content: stretch;
	height: 100%;
}

// chat-header
.chat-header {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	background-color: $color-wheat;
	border: 1px solid $color-Grey2;
	padding: 10px 18px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	grid-column-gap: 18px;
}

.chat-header__text {
	justify-self: stretch;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 4px;
}

.chat-header__name {
	font-size: 16px;
	line-height: 20px;
}

.chat-header__date-status-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin: -4px -10px;

	> * {
		margin: 4px 10px;
	}
}

.chat-header__date-time,
.chat-header__status {
	font-size: 14px;
	line-height: 18px;
	color: $color-Grey5;
}

.chat-header__date-time {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 14px;
	justify-content: start;
}

.chat-header__status {
	display: flex;
	align-items: center;

	> svg {
		margin-right: 8px;
	}
}

.chat-header__contact {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin: -4px -10px;

	> * {
		margin: 4px 10px;
	}
}

.chat-header__contact-text {
	font-size: 14px;
	line-height: 18px;
}

.chat-header__contact-linc {
	color: $color-Grey5;
	text-decoration: none;
}

a.chat-header__contact-linc:hover {
	text-decoration: underline;
}

// chat-body
.chat-body {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	position: relative;
	overflow-y: auto;
	min-height: 200px;
}

.chat-message {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-right: 8px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.chat-message__date {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0;
}

.chat-message__message {
	padding: 12px 18px;
	border-radius: 4px;
	width: 80%;
}

.chat-message__text {
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;

	p {
		margin: 0;
	}
}

.chat-message__time {
	font-size: 12px;
	line-height: 15px;
	color: $color-Grey5;
}

.chat-message__message_admin {
	justify-self: left;
	background-color: #dcdfe1;
}

.chat-message__message_user {
	justify-self: right;
	background-color: $color-Grey2;
}

// chat-footer
.chat-footer {
	grid-column: 1 / -1;
	grid-row: 3 / -1;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
}

.chat-footer__input-wrpa {
	background-color: $color-wheat;
	border: 1px solid $color-wheat;
	border-radius: 3px;
	display: flex;
	align-items: stretch;
	height: 100%;

	&._focus {
		border-color: $color-Grey3;
	}
}

.chat-footer__input-file {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 0 5px 0 10px;
	cursor: pointer;

	input {
		display: none;
	}
}

.chat-footer__input-text {
	width: 100%;
	overflow-y: scroll;
	height: 50px;
	display: flex;
	align-items: center;
	margin-left: 5px;

	> textarea {
		font-family: $font-family-root;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-Black;
		border: none;
		background: transparent;
		resize: none;
		overflow: visible;
		border: none;
		padding: 0;
		width: 100%;
		height: 24px;

		&:focus {
			outline: none;
		}
	}
}
