// Цвета
$color-Black: #232930;
$color-Grey5: #68717b;
$color-Grey4: #969ba0;
$color-Grey3: #dcdfe1;
$color-Grey2: #ebedee;
$color-Grey1: #f4f5f6;
$color-wheat: #ffffff;
$color-Orange: #f4691b;
$color-Orange2: #ff8635;
$color-Green: #99a30e;

// Шрифт
$font-family-root: "PT Root UI", sans-serif;

.header {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
}

.header__top {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	grid-column-gap: 30px;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 8px;
}

.header__h {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
}

.header__ls {
	position: relative;
	.menu-primary__linc_control {
		min-height: 48px;
		padding-right: 59px;
	}
	.menu-primary__drop-list-wrap {
		position: absolute;
		width: 100%;
		background-color: $color-wheat;
		border-radius: 0 0 4px 4px;
		z-index: 3;
	}
}

@media screen and (max-width: 960px) {
	.header__top {
		grid-auto-flow: row;
		row-gap: 15px;
		margin-bottom: 0;
	}
	.header__bot {
		margin-top: 30px;
	}
	.header__ls {
		.menu-primary__linc_control {
			min-height: 40px;
			font-size: 16px;
			line-height: 20px;
			padding: 9px 10px 11px;
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		grid-column: auto;
		grid-row: auto;
	}
	.header__h {
		font-size: 24px;
		line-height: 30px;
	}
}
