// Цвета
$color-Black: #232930;
$color-Grey5: #68717b;
$color-Grey4: #969ba0;
$color-Grey3: #dcdfe1;
$color-Grey2: #ebedee;
$color-Grey1: #f4f5f6;
$color-wheat: #ffffff;
$color-Orange: #f4691b;
$color-Orange2: #ff8635;
$color-Green: #99a30e;

// Шрифт
$font-family-root: "PT Root UI", sans-serif;

.menu-secondary {
	grid-column: 2 / 3;
	grid-row: 2 / -1;
	overflow-y: auto;
	padding-right: 4px;
	z-index: 10;
}

.menu-secondary__list {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 0;
	margin: 5px 0;
	padding: 0;
	list-style: none;
}

.menu-secondary__linc {
	padding: 15px 5px 15px 18px;
	position: relative;
	cursor: pointer;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 8px;
		background-color: $color-Orange;
		opacity: 0;
		transition: opacity 200ms ease-in-out 0ms;
	}

	&:hover::before {
		opacity: 0.15;
	}
}

.menu-secondary__linc.active {
	&::before {
		opacity: 1;
	}

	&:hover::before {
		opacity: 0.8;
	}
}

// request-linc
.request-linc {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 4px;
}

.request-linc__name {
	font-size: 16px;
	line-height: 20px;
	color: $color-Black;
}

.request-linc__date-time,
.request-linc__status {
	font-size: 14px;
	line-height: 18px;
	color: $color-Grey5;
}

.request-linc__date-time {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 14px;
	justify-content: start;
}

.request-linc__status {
	display: flex;
	align-items: center;

	> svg {
		margin-right: 8px;
	}
}

.request-linc.active {
	.request-linc__name {
		color: $color-Orange;
	}
}

// pay-doc-linc
.pay-doc-linc {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;

	> .button {
		justify-self: start;
	}

	&.active {
		.pay-doc-linc__ls {
			color: $color-Orange;
		}
	}
}

.pay-doc-linc__ls {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}

.pay-doc-linc__text {
	font-size: 14px;
	line-height: 18px;
	color: $color-Grey5;
}

.pay-doc-linc__pay {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: $color-Orange;
}

// profile-linc
.profile-linc {
	display: block;
}

.profile-linc__h {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}

.profile-linc__text {
	font-size: 14px;
	line-height: 18px;
	color: $color-Grey5;
	margin-bottom: 16px;
}

.menu-secondary__btn {
	display: none;
}

@media screen and (max-width: 960px) {
	.menu-secondary {
		position: relative;
		grid-column: 2 / -1;
		grid-row: 2 / 3;
		overflow-y: inherit;
		z-index: 11;
		padding-right: 0;
	}
	.menu-secondary__btn {
		position: relative;
		display: flex;
		width: 100%;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		background-color: $color-wheat;
		border-radius: 4px;
		border: 1px solid $color-Grey2;
		padding: 9px 10px 11px;
		color: $color-Orange2;

		svg {
			--icon-color: #{$color-Black};
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%) rotate(180deg);
			transition: transform 200ms ease-in-out 0ms;
			margin-left: 18px;
		}
		&.active {
			svg {
				transform: translateY(-50%) rotate(0);
			}
		}
	}
	.menu-secondary__list {
		position: absolute;
		left: 0;
		right: 0;
		transition: all 300ms ease-in-out 0ms;
		overflow: hidden;
		visibility: hidden;
		background-color: $color-wheat;
		margin: 0;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

		&.active {
			visibility: visible;
		}
	}
}

@media screen and (max-width: 768px) {
	.menu-secondary {
		grid-column: auto;
		grid-row: auto;
		padding-right: 0;
	}
}
